.profile__edit-button {
    margin: 0;
    padding: 0;
    border: 0;
    background: #000000;
    background-image: url(../../../images/profile__edit-button.svg);
    height: 24px;
    width: 24px;
    margin-left: 18px;
}

.profile__edit-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 700px) {
    .profile__edit-button {
        height: 18px;
        width: 18px;
        margin-left: 10px;
        background-size: 18px 18px;
    }
}
