.popup__content {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #FFFFFF;
    padding: 34px 36px 37px;
    border-radius: 10px;
    min-width: 358px;
}

@media screen and (max-width: 700px) {
    .popup__content {
        min-width: 0;
        padding: 25px 22px;
    }
}

@media screen and (max-width: 396px) {
    .popup__content {
        margin-right: 19px;
        margin-left: 19px;
    }
}
