.header__logo {
    background-image: url(../../../images/logo_header.svg);
    background-repeat: no-repeat;
    width: 142px;
    height: 33px;
}

@media screen and (max-width: 560px) {
    .header__logo {
        width: 103.74px;
        height: 24.4px;
        background-size: 104px 24px;
    }
}
