.profile__title {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
}

@media screen and (max-width: 700px) {
    .profile__title {
        font-size: 27px;
        line-height: 33px;
        text-align: center;
    }
}
