.place__logo {
    padding: 0;
    margin: 0;
    width: 22px;
    height: 19px;
    background-image: url(../../../images/place__heart.svg);
    background-repeat: no-repeat;
    background-size: 22px 19px;
    background-position: center;
    margin-right: 20px;
}

.place__logo:hover {
    opacity: 0.6;
}

.place__logo:active {
    opacity: 1;
    background-image: url(../../../images/place__heart_active.svg);
}
