.popup__close-btn {
    all: unset;
    position: absolute;
    background-image: url(../../../images/popup__close-btn.svg);
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
}

@media screen and (max-width: 700px) {
    .popup__close-btn {
        width: 20px;
        height: 20px;
        background-size: 20px 20px;
        top: -36px;
        right: 0;
    }
}
