@import url(../vendor/normalize.css);
@import url(../vendor/fonts/inter.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/content/content.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__info-container/profile__info-container.css);
@import url(../blocks/profile/__title-container/profile__title-container.css);
@import url(../blocks/page/page.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__content/popup__content.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__save-btn/popup__save-btn.css);
@import url(../blocks/popup/__close-btn/popup__close-btn.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/_open/popup_open.css);
@import url(../blocks/place/place.css);
@import url(../blocks/place/__list/place__list.css);
@import url(../blocks/place/__title/place__title.css);
@import url(../blocks/place/__item/place__item.css);
@import url(../blocks/place/__container-title/place__container-title.css);
@import url(../blocks/place/__logo/place__logo.css);
@import url(../blocks/place/__img/place__img.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
